body {
    width: 100%;
}

.contw {
    margin: 40px 0;
    width: 90%
}

.card {
    margin: 0 2% !important;
    padding: 30px 0;
}

.root{
    width: 100% !important;
}

.secTitle {
    font-size: 14px;
}

.confirmed {
    color: white !important;
    background-image: linear-gradient( -135deg, #52E5E7 10%, #130CB7 100%);
}

.recovered {
    color: white !important;

    background-image: linear-gradient( -135deg, #EEAD92 10%, #6018DC 100%);
}

.deaths {
    color: white !important;
    background-image: linear-gradient( -135deg, #FCCF31 10%, #F55555 100%);
}