body {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-direction: column;
}

img {
        margin-bottom: 24px !important;
}